<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" charset="text/html; UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="<%= baseURL %>assets/css/indexssr.css" />
        <!-- <link href="<%= baseURL %>assets/css/tailwind.css" rel="stylesheet"> -->
        <link rel="icon" href="<%= assets.faviconIco %>" />
        <title>re@rvnrstnsyh.dev</title>
    </head>
    <!-- © 2021 rvnrstnsyh -->
    <body>
        <noscript>
            <small id="noscript">|NoScript|</small>
        </noscript>
        <% const README = "This nodeserver can also be used to render HTML on server side with template engine/view engine EJS , You can set it in 'web' routes and controllers" %>
        <%- body %>
        <script type="text/javascript" src="<%= baseURL %>assets/js/indexssr.js"></script>
    </body>
</html>
